body {
  font-family: "Helvetica";
  padding: 0;
  margin: 0;
}
header {
  min-height: 50px;
}
header img {
  padding: 8px;
  height: 100px;
}
main {
  padding: 20px;
}
input {
  width: 300px;
  padding: 5px;
}
button {
  cursor: pointer;
}
.flextables {
  display: flex;
}
.flextables > * {
  width: 50%;
}
.flextables > * table {
  margin-top: 25px;
}
.flextables > * table:nth-child(1) th {
  text-align: right;
}
.flextables > * table:nth-child(2) th {
  text-align: left;
}
