body {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
  background-color: #070707;
  color:#e4e4fb
}
header {
  min-height: 50px;
  padding: 20px;
}
header img {
  padding: 8px;
  height: 100px;
}
main {
  padding: 10px;
}
main section {
  display: flex;
}
main section > div {
  width: 50%;
}
main section > div:nth-child(2) {
  width: calc(50% - 40px);
  margin-left: 40px;
}
input {
  width: 200px;
  padding: 5px;
}
button {
  margin: 0px 0px 20px 0;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #424242;
  color: white;
  font-weight: bold;
  opacity: 0.8;
  cursor: pointer;
}
h2 {
  color:#f8bd45;
  font-size:24px;
}
button:hover {
  opacity: 1;
}
button#cancel {
  background-color: red;
}
table {
  padding: 0;
}
table .frozen {
  color: #aaa;
}
table th {
  text-align: right;
  background: none;

}
table td,
table th {
  padding: 8px;
}
table tr:nth-child(even) {
  background: #0e0d14;
}
table tr:nth-child(odd) {
  background: #131222);
}

table td {
  text-align: right;
}
dd {
  font-weight:lighter;
   
}
.helper-text {
  color: #e4e4fb;
  font-size: 16px;
}
.logo { 
  width:180px;
  content:url("https://raw.githubusercontent.com/oikos-cash/home/50325dfe73def53671d13526599c38e1d727b82f/src/assets/img/oikos-type.svg");
}

.logo-text{
  font-size:24px;
  color:#f8bd45;

}

.flex{
  margin-bottom:20px;
  padding:0px;
  padding-right: 40px;
}